slides/lec14.recurrent.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec19.hopfield.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec20.hopfield.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec28.RL1.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec8.CNN.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec9.Cascor_Scott_Fahlman.pdf filter=lfs diff=lfs merge=lfs -text
recitations/Recitation[[:space:]]0E_[[:space:]]Setting[[:space:]]Up[[:space:]]AWS[[:space:]]Deep[[:space:]]Learning[[:space:]]AMI.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec11.TarrDeepLearning_2020.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec27.bstriner_gans_part_2.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec21.BM.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec26.bstriner_gans_part_1.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec25.VAE_2.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec4.learning.p1.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec5.convergence.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec10.CNN.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec22.neubig20deeplearning.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec7.optimizersandregularizers.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec12.CNN.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec18.representations.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec6.stochastic_gradient.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec13.recurrent.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec24.VAE_1.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec23.MMTutorial2019.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec16.recurrent.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec2.universal.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec29.RL2.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec9.Cascor02.Dean_Alderucci.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec15.recurrent.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec17.attention.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec3.learning.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec4.learning.p2.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec0.logistics.pdf filter=lfs diff=lfs merge=lfs -text
slides/lec1.intro.pdf filter=lfs diff=lfs merge=lfs -text
